# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente (credenciais!)
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# Cache de ferramentas Python
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Docker
# (geralmente não precisa ignorar Dockerfile/compose, eles DEVEM ir pro Git)

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log